* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	scrollbar-width: thin;
}

html {
	width: 100vw;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: thin;
}

body {
	width: 100vw;
	background: #003049;
	display: flex;
	justify-content: center;
	align-items: center;
	scrollbar-width: thin;
}

canvas {
	width: 90vw;
	height: 20vh;
}

#root, #app {
	width: 100vw;
	height: 100vh;
	scrollbar-width: thin;
}

#heading {
	width: 100vw;
	height: 8vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3vw;
	font-weight: bold;
	color: #F77F00;
	font-family: 'Epilogue', sans-serif;
}

#selectortab {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100vw;
	height: 7vh;
	background: #F77F00;
}

#graphContainer {
	display: flex;
	flex-direction: column;
}

.selector {
	display: flex;
	justify-content: center;
	align-items: center;
}
